# Synthetic data generator for anomaly detection technical challenge problem

### Objective

- Create a N-column dataframe with three explanatory feature columns and a binary output/response variable column.
- Each column should have null values missing at random.
- Each explanatory feature column should consist of random values ranging from -1 to 1 
- Dataframe should be 10000 rows in length, so resulting dataframe should be a 10000 x N dimension matrix.
- Save the dataframe to a CSV called `raw_data.csv`

### Installations

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification

# Approach 1: Using sci-kit learn's `make_classification` method

The `make_classification` method is a module under sci-kit learn's datasets APIs that creates an a random n-class classification problem. The clever part about this method is that it initially creates clusters of points normally distributed (std=1) about vertices of an `n_informative`-dimensional hypercube with sides of length 2*`class_sep` and assigns an equal number of clusters to each class. It introduces interdependence between these features and adds various types of further noise to the data.See API reference documentation [here](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.make_classification.html#sklearn.datasets.make_classification).

I enter the number of rows for the dataset

In [2]:
### enter number of features for the dataset
n_rows = int(input("Please enter number of rows for the dataset \n"))

Please enter number of rows for the dataset
 10000

I enter the number of features I want in the dataset.

In [3]:
### enter number of features for the dataset
n_features = int(input("Please enter number of features for the dataset \n"))

Please enter number of features for the dataset
 40

Then, I enter the number of informative features. The informative features serve as the vertices of the `n_informative`-dimensional hypercube.

In [4]:
### enter number of informative features for the dataset
n_informative = int(input("Please enter number of informative features for the dataset \n"))

Please enter number of informative features for the dataset
 3

Then, I enter the probability of anomalies expected in the response variable

In [5]:
### enter probability of anomalies in the output variables
flip_y = float(input("Please enter probability of anomalies expected in the response variable from 0 to 100 \n"))/100

Please enter probability of anomalies expected in the response variable from 0 to 100
 .1

In [6]:
print(flip_y)

0.001

#### Create a class `DataGenerator`

In [7]:
class DataGenerator:
    
    def __init__(self, n_samples, n_features, n_informative, n_redundant, n_repeated, n_classes, 
                 n_clusters_per_class, flip_y, null_prob):
        ''' generate data using the make_classification module '''
        self.n_samples = n_samples
        self.n_features = n_features
        self.n_informative = n_informative
        self.n_redundant = n_redundant
        self.n_repeated = n_repeated
        self.n_classes = n_classes
        self.n_clusters_per_class = n_clusters_per_class
        self.flip_y = flip_y
        self.null_prob = null_prob

    def generate_random_data(self):
        X,y = make_classification(n_samples=self.n_samples, n_features=self.n_features,
                            n_informative=self.n_informative, n_redundant=self.n_redundant, n_repeated=self.n_repeated, 
                            n_classes=self.n_classes, n_clusters_per_class=self.n_clusters_per_class, weights=None, 
                            flip_y=self.flip_y, class_sep=1.0, hypercube=True, shift=0.0, 
                            scale=1.0, shuffle=True, random_state=None)
        return X,y
        
    def create_dataframe(self):
        X,y = self.generate_random_data()
        featurenames = list()
        for i in range(n_features):
            featurenames.append(f"x{i}")
        df = pd.concat([pd.DataFrame(X, columns=featurenames), 
                        pd.DataFrame(y, columns=['y'])], axis=1)

        ### generate random null values
        X = df.drop('y', axis=1) ### create dataframe with just X variables
        for col in X.columns:
            mask_values = np.random.choice([np.nan, True], size=df.shape[0], p=[self.null_prob, 1 - self.null_prob])
            df[col] = df[col]*mask_values
        return df

#### Run the `DataGenerator` class and generate the dataframe

In [8]:
generator = DataGenerator(n_samples=n_rows, n_features=n_features, n_informative=n_informative, 
                          n_redundant=2, n_repeated=0, n_classes=2, flip_y=flip_y, n_clusters_per_class=2, 
                          null_prob=.001)
df = generator.create_dataframe()

#### Inspect the resulting dataframe

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x0      9993 non-null   float64
 1   x1      9993 non-null   float64
 2   x2      9989 non-null   float64
 3   x3      9986 non-null   float64
 4   x4      9991 non-null   float64
 5   x5      9989 non-null   float64
 6   x6      9992 non-null   float64
 7   x7      9989 non-null   float64
 8   x8      9982 non-null   float64
 9   x9      9985 non-null   float64
 10  x10     9995 non-null   float64
 11  x11     9985 non-null   float64
 12  x12     9992 non-null   float64
 13  x13     9981 non-null   float64
 14  x14     9991 non-null   float64
 15  x15     9992 non-null   float64
 16  x16     9990 non-null   float64
 17  x17     9988 non-null   float64
 18  x18     9991 non-null   float64
 19  x19     9993 non-null   float64
 20  x20     9989 non-null   float64
 21  x21     9995 non-null   float64
 22  x22     9988 non-null   float64
 23  x23     9992 non-null   float64
 24  x24     9990 non-null   float64
 25  x25     9990 non-null   float64
 26  x26     9988 non-null   float64
 27  x27     9987 non-null   float64
 28  x28     9991 non-null   float64
 29  x29     9991 non-null   float64
 30  x30     9989 non-null   float64
 31  x31     9988 non-null   float64
 32  x32     9991 non-null   float64
 33  x33     9994 non-null   float64
 34  x34     9988 non-null   float64
 35  x35     9983 non-null   float64
 36  x36     9994 non-null   float64
 37  x37     9990 non-null   float64
 38  x38     9992 non-null   float64
 39  x39     9994 non-null   float64
 40  y       10000 non-null  int64
dtypes: float64(40), int64(1)
memory usage: 3.1 MB

In [10]:
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x31,x32,x33,x34,x35,x36,x37,x38,x39,y
0,0.302641,-1.214299,-1.237851,1.500564,-0.809244,-0.453045,-0.681977,2.434565,-1.005304,-0.779614,...,-0.512130,0.273504,-0.507911,0.291439,1.127498,0.609934,-0.659774,0.272546,3.254557,1
1,0.864286,-0.384370,0.732784,-1.536662,-0.040546,1.358753,-1.505183,-1.365040,0.665650,-0.543010,...,0.126575,2.095989,-1.035311,1.680535,-0.184652,-1.523623,-1.210366,0.530463,0.064731,0
2,-0.081551,0.276981,0.447198,0.004848,-1.327149,0.452720,-1.308048,-1.235946,-0.242406,0.912493,...,1.769273,-0.888809,0.860746,-1.344168,1.449890,-0.284197,0.182651,-0.875516,0.201180,0
3,-1.839067,-0.230459,0.707327,0.367956,-0.612517,-0.326254,-1.371485,-1.414597,-0.530898,-0.094590,...,-1.076153,0.555456,-0.889047,1.238357,-0.979190,-0.788289,-0.744712,-1.077059,-2.509356,1
4,-0.219991,0.918923,1.346278,1.156418,-0.668577,0.914416,0.659790,1.643310,0.715243,-0.178283,...,0.534930,1.018432,-0.993205,0.451348,-0.463202,-0.963436,0.460263,-0.340758,0.130820,1

### Save resulting dataframe to csv

In [11]:
df.to_csv('../data/raw_data.csv', index=False)

# Approach 2: Using numpy `randomint` method

This method generates arrays of random integers from specified low to high values drawn from a discrete uniform distribution. See the reference documentation [here](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html). The feature columns of the resulting dataset will be orthogonal to each other; that is, there will be no interdependence between the features as they each will be generated following an independent random process.

#### Create a class `DataGeneratorRandomInt`

In [12]:
class DataGeneratorRandomInt:
    def __init__(self, num_rows, num_features, min_value, max_value, null_prob, flip_y):
        self.num_rows = n_rows
        self.num_features = n_features
        self.min_value = min_value
        self.max_value = max_value
        self.null_prob = null_prob
        self.flip_y= flip_y

    def generate_random_data(self):
        X = np.random.randint(self.min_value, self.max_value, size=(self.num_rows+1, self.num_features+1))
        
        ### generate binary output variable    
        y = np.random.choice([0, 1], size=self.num_rows, p=[1-self.flip_y, self.flip_y])  # Binary output column
        return X,y

    def create_dataframe(self):
        X,y = self.generate_random_data()
        data = pd.DataFrame(data=X[1:,1:], index=X[1:,0], columns=X[0,1:])
        y = pd.DataFrame(pd.Series(data=y[:]), columns=['y'])
        
        # create column names
        featurenames = list()
        for i in range(n_features):
            featurenames.append(f"x{i}")
        data.columns = featurenames

        ### generate random null values
        for col in data.columns:
            mask_values = np.random.choice([np.nan, True], size=data.shape[0], p=[self.null_prob, 1 - self.null_prob])
            data[col] = data[col]*mask_values
        
        data = data.reset_index()
        
        df = pd.concat([pd.DataFrame(data, columns=featurenames),
                       pd.DataFrame(y, columns=['y'])], axis=1)

        ### create resulting dataframe
        df = pd.concat([pd.DataFrame(data, columns=featurenames),
               pd.DataFrame(y, columns=['y'])], axis=1)
        
        return df

### Create dataframe

In [13]:
# # Generate a small portion of null values at random
generator = DataGeneratorRandomInt(num_rows = n_rows, min_value = -200, max_value=500, 
                                   num_features = n_features,
                                   null_prob = .001, flip_y= flip_y)
df = generator.create_dataframe()

In [14]:
df.shape

(10000, 41)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x0      9989 non-null   float64
 1   x1      9983 non-null   float64
 2   x2      9989 non-null   float64
 3   x3      9989 non-null   float64
 4   x4      9988 non-null   float64
 5   x5      9983 non-null   float64
 6   x6      9991 non-null   float64
 7   x7      9995 non-null   float64
 8   x8      9992 non-null   float64
 9   x9      9993 non-null   float64
 10  x10     9987 non-null   float64
 11  x11     9985 non-null   float64
 12  x12     9985 non-null   float64
 13  x13     9989 non-null   float64
 14  x14     9992 non-null   float64
 15  x15     9986 non-null   float64
 16  x16     9994 non-null   float64
 17  x17     9991 non-null   float64
 18  x18     9992 non-null   float64
 19  x19     9988 non-null   float64
 20  x20     9985 non-null   float64
 21  x21     9990 non-null   float64
 22  x22     9991 non-null   float64
 23  x23     9987 non-null   float64
 24  x24     9991 non-null   float64
 25  x25     9989 non-null   float64
 26  x26     9995 non-null   float64
 27  x27     9994 non-null   float64
 28  x28     9984 non-null   float64
 29  x29     9992 non-null   float64
 30  x30     9993 non-null   float64
 31  x31     9985 non-null   float64
 32  x32     9988 non-null   float64
 33  x33     9990 non-null   float64
 34  x34     9995 non-null   float64
 35  x35     9989 non-null   float64
 36  x36     9992 non-null   float64
 37  x37     9995 non-null   float64
 38  x38     9992 non-null   float64
 39  x39     9992 non-null   float64
 40  y       10000 non-null  int64
dtypes: float64(40), int64(1)
memory usage: 3.1 MB

### Save resulting dataframe to csv

In [16]:
df.to_csv('../data/raw_data2.csv', index=False)